.header-div{
    position:sticky;
}




.hero-container{
   
    
    display: flex;
    margin:auto;
    margin-top:3 rem;   
    border-radius: 2rem;
     justify-content: center;
}

.heroimg{
  
    background: url(/src/images/glassware.jpg);
    margin-top: 4 rem;
    display: flex;
    background-size:cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    height: 32rem;
    justify-content: center;
    width: 50%;
    align-items: center;
    color: rgb(239, 103, 103);
}
.hero-details{
    display: flex;
    flex-direction: column;
    
    border-radius: 2rem;
}
.desc{

    background-color: #fff;
    border-radius: 10px;
    opacity: .9;
    padding: 25px;
}
.category-container{
    margin: 4rem;
     /* display: flex; */
   /* flex-direction: row;
    justify-content: center; */
    
    /* justify-content: center; */

}
.e-category{
    display: flex;
    justify-content: center;
    

    /* border: 2px solid skyblue;
    box-shadow: 0 5px 15px rgba(90,90,90,.35); */
    /* cursor: pointer;
    height: 22rem;
    margin: 1rem;
    padding: 2rem;
    /* position: relative; */
    /* width: 20rem; */ 
}
.header-div{
    margin-bottom: 2rem;;
}

.featured-cat-details{
    display: flex;
    flex-direction: row;
    height: 15rem;
    width: 20rem;
    margin: 3rem;
 
}

.featured-cat-title{
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    margin-bottom: 20px; /* Adjust spacing between paragraphs */
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties  /* Adjust spacing between paragraphs */
}

.primary{
    background-color: #dc6363;
    border: 2px solid skyblue;
    border-radius: 20px;
    color: #fff;
    font-size: 1.1rem;
    margin: 1rem;
    max-width: 20rem;
    min-height: 3rem;
    padding: 0.5rem;
}

