.product-container{
    display: flex;
    flex-direction: column;
     border: 2px solid red;
     border-radius: 5px;
     box-shadow: 0 5px 15px rgba(225, 12, 12, 0.35);
    padding: 1rem;
     width: 35vh;
    height: 60vh;   
}

.title-div{
    height: 10vh;
}
.price-rating{
    margin-top:5px ;
    display: flex;
  
    gap: 9em;
    /* justify-content: space-between; */
}
.image-tag{
    width :200px;
    height: 200px;
}
.card-div{
    width:50vh;
    
}

.wishlist-icon{
    position: absolute;
    cursor: pointer;
      
    border:none;
    border-radius: 50%;
}
input[type="range"] {
    width:200px;


 }

.addCart{
    background-color: #ea7979;
    border-radius: 5px;
    box-shadow:  #ea7979;
  }
  





/* 
.product-container{
    flex: 1;
}
 */
