

.title{
    text-align: left;
    padding: 3 rem;
    border:2 rem;
    cursor: pointer;
 }
 .container{
    display:flex;
    /* border-bottom: 2px solid red; */
    color: red;
    
    box-shadow: 0 0 8px 1px rgba(0,0,0,.1);
    /* background-color: rgb(235, 229, 229);
    box-shadow: 0 5px 15px rgb(237, 237, 241); */
    justify-content: space-between;
   gap: 10px;
   /* align-content: baseline; */
   /* position:fixed; */
 }
.links-container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 80px;
   
}
 


 .login{
   font-size: 30px;
   
 }
 
 .shop{
   font-size: 30px;

 }

 .cart{
   font-size: 30px;

 }

 .heart{
   font-size: 30px;

   
 }
 
 
