.single-main-container{
    display: flex;
  
    border: 2px solid red;
     border-radius: 5px;
     box-shadow: 0 5px 15px rgba(225, 12, 12, 0.35);
     width: 100vh;
     height: 50vh; 
     gap:20px;
     
}

.single-card{
    width :400px;
    height: 390px;
}

.main{
    display: flex;
    justify-content: center;
    margin-top: 170px;
}

.details-container{
    display: flex;
    flex-direction: column;
}

.addCart{
    min-width: 15rem;
    min-height: 3rem;
}

.wishlist-tag{
    min-width: 15rem;
    min-height: 3rem;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #ea7979;
    border-radius: 5px;
    box-shadow:  #ea7979;
}
p{
    margin-top: 30px;
}